{% extends 'upost/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <div class="post">
                    <div class="date">
                        {{ post.created }}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.user }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}